[Unit]
Description=dask-worker
Documentation=https://docs.dask.org/en/latest/setup/cli.html
After=syslog.target network.target

[Service]
User=root
Environment="PATH={{ conda_environment_bin }}:{{ conda_root }}/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart={{ conda_environment_bin }}/dask-worker localhost:{{ dask_scheduler_port }} --nworkers {{ dask_nprocs }} --nthreads {{ dask_nthreads }}  --memory-limit {{ dask_worker_memory }}  --local-directory {{ dask_worker_dir }}
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target