# {{ ansible_managed }}

[Unit]
Description=dask-worker
Documentation=https://docs.dask.org/en/latest/setup/cli.html
After=syslog.target network.target

[Service]
User=root
Environment="PATH={{ conda_environment_bin }}:{{ conda_root }}/condabin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment={% for key, value in dask_worker_environment.items() %}
"{{ key }}={{ value }}"
{% endfor %}
ExecStart={{ conda_environment_bin }}/dask-worker tcp://{{ hostvars['jumphost']['ansible_default_ipv4']['address'] }}:{{ dask_scheduler_port }} --local-directory {{ dask_worker_dir }}
ExecReload=/bin/kill -s HUP $MAINPID

[Install]
WantedBy=multi-user.target
